body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.profile-container {
    border: none; /* Border area merah */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid blue;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.tab.active {
    background-color: #007bff;
    color: #fff;
}

.search-bar {
  position: absolute;
    top: 20px;
    left: 20px
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

.airdrop-table {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #000;
}

.header {
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.airdrop-list {
    margin: 20px;
    padding: 10px;
}

.airdrop-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.task, .link {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc; /* Border pada kolom Type dan Link */
}

.airdrop-item .link a {
    color: #007bff;
    text-decoration: none;
}
